.media-tabs-wrap.ipv2{
  width: 556px;
}
.ipv2 ul{
  list-style: none;
  background:url('images/dotted_line.png');
  background-repeat:no-repeat;
  background-position:bottom; 
  margin: 0;
  padding: 0 0 20px 0;
  height: 123px;
  clear: left;
}
.ipv2 ul li{
  float:left;
  width: 126px;
  height:123px;
  padding: 0 13px 0 0;
}
.ipv2 ul li a{ 
color: #fff;
text-decoration: none;
font-size: 19px;
line-height: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
font-weight: bold;
display: block;
padding: 31px 0 0 19px;
height: 88px;
}
.ipv2 ul li a span{
  padding: 10px;
}
#ipv_arrow{
  margin:-10px 0 0 35px;
}
.ipv2 ul li.ipv2_tab1{
  background: url('images/tab1.png') no-repeat;

}
.ipv2 ul li.ipv2_tab1 a{
  color:#a32020;
}
.ipv2 ul li.ipv2_tab2{
  background: url('images/tab2.png') no-repeat;
}
.ipv2 ul li.ipv2_tab3{
  background: url('images/tab3.png') no-repeat;
}
.ipv2 ul li.ipv2_tab4{
  background: url('images/tab4.png') no-repeat;
  padding: 0px !important;
}
.ipv2_tab_wrap{
  margin: 33px 0 0 20px;
}